# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
.venv/
venv/

# ===========================
# Build PyInstaller
# ===========================
build/
dist/

# ===========================
# VSCode
# ===========================
.vscode/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Windows
# ===========================
Thumbs.db
Desktop.ini

# ===========================
# APO Studio
# ===========================
projects/

# ===========================
# Python Cache
# ===========================
.pytest_cache/
.mypy_cache/
.cache/

# Build
installer/output/