anthropic==0.116.0
av==18.0.0
customtkinter==6.0.0
faster-whisper==1.2.1
openai==2.45.0
opencv-python==4.12.0.88
Pillow==12.2.0
python-dotenv==1.2.2
requests==2.32.5
nvidia-cublas-cu12==12.6.4.1
nvidia-cudnn-cu12==9.5.1.17
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cuda-nvrtc-cu12==12.6.77

pyinstaller==6.16.0